<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t31.0-8/p960x960/16178740_647017252166797_1997221386056301304_o.jpg?oh=679c5b779caf28627992d9a403138faf&oe=5970F14D">
    <h3>full name: Nguyễn Minh Quốc</h3>
    <h3>education: Học viện công nghệ bưu chính viễn thông</h3>
    <h3>work experience: không có</h3>
    <h3>location: Đống Đa, Hà Nội, Việt Nam</h3>
    <h3>martial status: alone</h3>
    <h3>quote: lập trình để thay đổi thế giới</h3>
    <h3>email: dragon15098@gmail.com</h3>
    <h3>phone: 01643620202</h3>
    <h3>birthday: 20/09/1998</h3>
</body>
</html>