<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {{ current_time }}
    Một thứ gì đó
    <h1>You are {{ number_of_visitor_1 }}</h1>
    <h1>Một thứ gì đó</h1>
    <h2>Một thứ gì đó</h2>
    <h3>Một thứ gì đó</h3>
    <h4>Một thứ gì đó</h4>
    <h5>Một thứ gì đó</h5>
    <h6>Một thứ gì đó</h6>
    <p>Một thứ gì đó</p>
    <p>Một thứ gì đó</p>
    <div>Một thứ gì đó</div>
    <div>Một thứ gì đó</div>

    <img alt="Lỗi" src="http://znews-photo.d.za.zdn.vn/w660/Uploaded/jaroin/2016_07_31/charsui.jpg">

    <a target="_blank" href="https://www.google.com.vn">Go to Google!</a>
</body>
</html>